<div class="nested-form-wrapper" data-controller="item-price" data-action="input->item-price#sumTotalPrice" data-new-record="<%= f.object.new_record? %>">
  <div>
    <h3>Item:</h3>
    <button type="button" data-action="nested-form#remove" class="btn btn-danger">Remove</button>
  </div>


  <%= f.label :name, class: "form-label" %>
  <%= f.text_field :name, class: "form-control mb-3" %>

  <%= f.label :quantity, class: "form-label" %>
  <%= f.text_field :quantity, class: "form-control mb-3", data: { item_price_target: "quantity" } %>

  <%= f.label :unit_price, class: "form-label" %>
  <%= f.text_field :unit_price, class: "form-control mb-3", data: { item_price_target: "unitPrice" } %>

  <%= f.label :discount, class: "form-label" %>
  <%= f.text_field :discount, class: "form-control mb-3", data: { item_price_target: "discount" } %>

  <%= f.label :total_price, class: "form-label" %>
  <%= f.text_field :total_price, class: "form-control mb-3", data: { item_price_target: "totalPrice" } %>

  <%= f.hidden_field :_destroy %>
</div>
