<p style="color: green"><%= notice %></p>

<div class="d-flex align-items-center justify-content-between">
  <h1>Orders</h1>

  <%= link_to "New order", new_order_path, class: "btn btn-primary" %>
</div>

<div id="orders">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer name</th>
        <th scope="col">Total price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <th scope="row"><%= order.id %></th>
          <td><%= order.customer_name %></td>
          <td><%= order.total_price %></td>
          <td><%= link_to "View order", order, class: "btn btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
